:root {
    --bg_color_header: #2C3E50;
    --bg_color_hero: #1ABC9C;
    --bg_color_footer_top: #3A546D;
    --bg_color_footer_bottom: #2C3E50;
}

.container_large {
    max-width: 1140px;
    margin: 0 auto;
}

.container_small {
    max-width: 980px;
    margin: 0 auto;
}

.btn {
    display: block;
    text-align: center;
    width: auto;
    /* margin: 0 auto; */
}

/* header */
.header {
   background-color: var(--bg_color_header);
}


/* hero */
.hero {
    background-color: var(--bg_color_hero);
    padding: 40px;
}


/* section_1 */
.section_1 {
    background-color: white;
}

/* section_2 */
.section_2 {
    background-color: var(--bg_color_hero);
}


/*  section_3 */
.section_3 {
    background-color: white;
}


/* FOOTER */
/* footer_top */
.footer_top {
    background-color: var(--bg_color_footer_top);
    height: 230px;
}

.footer_top .col {
    background-color: yellow;
    height: 40px;
}


/* footer_bottom */
.footer_bottom {
    background-color: var(--bg_color_footer_bottom);
    height: 110px;
    padding: 40px;
}





/* * {
    border: 2px solid red;
    padding: 20px;
} */