:root {
    --bg_color_header: #2C3E50;
    --bg_color_hero: #1ABC9C;
    --bg_color_footer_top: #3A546D;
    --bg_color_footer_bottom: #2C3E50;
}

.container_large {
    max-width: 1140px;
    margin: 0 auto;
}

.container_small {
    max-width: 980px;
    margin: 0 auto;
}

/* header */
.header {
   /* height: 80px; */
   background-color: var(--bg_color_header);
}


.header .container_large .container > .row {
   justify-content: space-between;
   padding: 2rem 0;
}


/* hero */
.hero {
    background-color: var(--bg_color_hero);
    padding: 40px;
}

.hero .container_large {
    text-align: center;
}

.hero .card {
    display: inline-block;
}

.hero .card * {
    padding: 80px 160px;
    background-color: blueviolet;
}


/* section_1 */
.section_1 {
    background-color: white;
    height: 845px;
}


.section_1 .col {
    height: 60px;
    background-color: violet;
    border: 1px solid rosybrown;
}


/* section_2 */
.section_2 {
    background-color: var(--bg_color_hero);
    height: 490px;
}

.section_2 .col {
    padding: 40px;
    background-color: violet;
    border: 1px solid rosybrown;
}

.btn_blue {
    display: block;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}


/*  section_3 */
.section_3 {
    background-color: white;
    height: 685px;
}

.big_size {
    height: 60px;
}


/* FOOTER */
/* footer_top */
.footer_top {
    background-color: var(--bg_color_footer_top);
    height: 230px;
}

.footer_top .col {
    background-color: yellow;
    height: 40px;
}


/* footer_bottom */
.footer_bottom {
    background-color: var(--bg_color_footer_bottom);
    height: 110px;
    padding: 40px;
}





/* * {
    border: 2px solid red;
    padding: 20px;
} */