:root {
    --bg_color_header: #2C3E50;
    --bg_color_hero: #1ABC9C;
    --bg_color_footer_top: #3A546D;
    --bg_color_footer_bottom: #2C3E50;
}

.container_large {
    max-width: 1140px;
    margin: 0 auto;
}

.container_small {
    max-width: 980px;
    margin: 0 auto;
}

.btn {
    display: block;
    text-align: center;
    width: auto;
    /* margin: 0 auto; */
}

.border_1 {
    width: 50%;
    height: 4px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% - 2rem));
}

.border_2 {
    width: 50%;
    height: 4px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(2rem);
}

/* header */
.header {
   background-color: var(--bg_color_header);
}


/* hero */
.hero {
    background-color: var(--bg_color_hero);
    padding: 40px;
}


/* section_1 */
.section_1 {
    background-color: white;
}

/* section_2 */
.section_2 {
    background-color: var(--bg_color_hero);
}


/*  section_3 */
.section_3 {
    background-color: white;
}

.section_3 .form-control {
    border: 0;
    border-radius: 0%;
    border-bottom: 1px solid black;
}


/* FOOTER */
/* footer_top */
.footer_top {
    background-color: var(--bg_color_footer_top);
}

.footer .icons {
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer_top .fa {
    border-radius: 50%;
    border: 1px solid white;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}


/* footer_bottom */
.footer_bottom {
    background-color: var(--bg_color_footer_bottom);
}

